html {
  font-family: "Baskervville", serif;
  margin: 0;
  padding: 0;
  /* background-color: $off-white;  this matches color from <Container> in App.js */
}

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-image: url("./../../assets/colonial_bg-sepia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  margin: 0;
  padding: 0;
}
