h2 {
  display: inline-block;
  font-family: "Baskervville", sans-serif;
  font-size: 2.4rem;
  color: $offWhite;
  text-shadow: 0.1rem 0.1rem $opaqueBlack;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: $darkGray;
}

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: $opaqueBlack;
}
