.character-item {
  display: inline-block;
  width: 363px;
  max-width: 363px;
  height: 729px;
  max-height: 729px;
  background-color: $blueGray;

  margin: 1rem;
  padding: 0;

  & .button {
    display: block;
    cursor: pointer;
    width: 363px;
    height: 729px;
    background-size: cover;
    background-image: url("./../assets/class-select-bg.jpg");

    font-family: "Baskervville", serif;
    position: relative;
  }
}
